 *{

    font-family: Poppins,  Actor, Adamina;
} 
/* Start of the navigation bar */
.navBar {
     opacity: 0.9; 
    background-image: url("../images/moving\ 1.png");
    background-size: cover;
    background-position: center center;  
    height:60vh;
    /* border: 1px solid red; */
    position: relative;
    background-repeat: no-repeat;
    overflow-x: hidden;
     margin-top: -50px; 
     margin-left: -10px;
     
}
.navBar> ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    color: white;
}
.navBar > ul > li > button{
    background-color: yellow;
    width: 80px;
    height: 25px;
}
.navBar > h2{
    color: yellow;
    font-family: Poppins,  Actor, Adamina;
    font-weight: lighter;
    font-size: 40px;
    margin-left: 50px;

}
.navBar > p{
    font-family: Poppins,  Actor, Adamina;
    font-size: 25px;
    color: rgb(205, 203, 203);
    font-weight: lighter;
    margin-left: 50px;
}
/* End of navigation bar styling */
/* Start of the the second section */
  .sect1{
    display: flex;
    margin: 30px -50;
    padding: 15px 0 15px;
  }
  .sect1 > .sect2 {
    margin: 100px 50px;
    width: 500px;
  }
  .sect1 > .sect2 h2{
      font-size: 40px;
      font-weight: lighter;
      margin-left: 50px;

  }
  .sect1 > .sect2 p{
    font-family: Poppins,  Actor, Adamina;
    font-size: 25px;
    color: rgb(113, 110, 110);
    font-weight: lighter;
    margin-left: 50px;
  }
  .sect1 .sect2 button {
    margin-top: 40px;
    color: #FAFF00;
    background-color: black;
    border: none;
    padding: 12px 20px;
    border-top-right-radius: 12px;
    margin-left: 50px;
  }
  #c {
    width: 470px;
    height: 450px
  }
  /* End of the second section */


  footer{
    background-color: rgb(14, 2, 2);
    color: white;
    padding: 20px 70px 20px 70px;
  }
 .social{
    list-style-type: none;
    /* display: inline-block; */
    display: flex;
    justify-content: space-between;
    
}
.fh{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}