 *{

    font-family: Poppins,  Actor, Adamina;
} 
.navBar {
     opacity: 0.9; 
    background-image: url("../images/moving\ 1.png");
    background-size: cover;
    background-position: center center;  
    height:60vh;
    border: 1px solid red;
    position: relative;
    background-repeat: no-repeat;
    overflow-x: hidden;
     margin-top: -50px; 
     margin-left: -10px;
}
.navBar> ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}
.navBar > ul > li > button{
    background-color: yellow;
    width: 80px;
    height: 25px;
}
.navBar > h2{
    color: yellow;
    font-family: Poppins,  Actor, Adamina;
    font-weight: lighter;
    font-size: 40px;
    margin-left: 50px;

}
.navBar > p{
    font-family: Poppins,  Actor, Adamina;
    font-size: 25px;
    color: rgb(205, 203, 203);
    font-weight: lighter;
    margin-left: 50px;
/* End of navigation bar styling */